@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f0eee8;
}

article {
  display: block;
  background-color: #dcd4cd;
  border: 3px #9a816d solid;
  border-radius: 3px;
  padding: 1rem;
}

article:hover {
  background-color: #cabdb2;
}

.list {
  display: inline-block;
  color: #512200;
  text-decoration: none;
}

.list-2 {
  font-style: italic;
  color: #512200;
  text-decoration: none;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0 0 1rem;
}

header {
  color: #512200;
  text-decoration: none;
}

.link-card {
  color: #512200;
  text-decoration: none;
}

.link-card:hover {
  display: block;
}

.btn {
  margin: auto;
  display: block;
  padding: .5em;
  background-color: #785439;
  color: #fff;
  text-align: center;
  font-family: Dosis, sans-serif;
  font-weight: bold;
  border-radius: 8px;
  max-width: 7em;
}
